.landingPageContainer {
  width: 100v;
  height: 100vh;
  /* background: url("/public/background.png"); */
  background-repeat: no-repeat;
}

.landingPageContainer nav{
      padding-inline:2rem;
      padding-block: 1.6rem;
      display: flex;
      justify-content: space-between; 
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navList{
  display: flex;
  gap: 1.7rem;
  font-size: 1.5rem;
  cursor: poiter;
  cursor: pointer;
}

/* LandingMainContsioner */
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
  
}
 
.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;

} 

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background-color: #D97500;
  width: fit-content;
  
  border-radius: 1.5rem;
  padding: 0.5rem;
  margin-top: 2rem;
  
  
}

.landingMainContainer > div:nth-child(1) div[role="button"] a{
   text-decoration: none;
   font-size: 1.7rem;
   
   color: white;
}


.landingPageContainer > div:nth-child(2) img{
  height: 70vh;
  width: auto;

} 